ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li {
  padding-right: 1%;
}

a {
  text-decoration: none;
  padding: 8px 15px;
  display: block;
  text-transform: capitalize;
  background-color: darkgray;
  color: #fff;
}

a.active {
  background-color: cornflowerblue;
}

.navbar-horizontal {
  background-color: darkgray;
}