.footer-wrapper {
  display: flex;
  background-color: grey;
  height: 150px;
}
.footer-content {
  width: 50%;
  padding: 10px;
}

ul.contact-footer {
  list-style-type: none;
}
.footer {
  margin-top: 5%;
}

.title-footer, .subtitle-footer {
  color: antiquewhite;
}